<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main_Test_Suite">
    <listeners>
        <listener class-name="com.ej.utils.TestListener"/>
    </listeners>
    <test name="VodafoneTest">
        <classes>
            <class name="VodafoneE2ETest">
<!--                <methods>-->
<!--                    <include name="testJSPromptTypeAndAccept">-->
<!--                    </include>-->
<!--                </methods>-->
            </class>
        </classes>
    </test>
</suite>